version: "3.9"

services:
  app:
    build: .
    ports:
      - "${PORT:-8001}:8001"
    env_file:
      - .env
    depends_on:
      ollama:
        condition: service_started
    command: >
      uvicorn app.main:app --host 0.0.0.0 --port 8001 --reload
    restart: unless-stopped

  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
volumes:
  ollama: {}




